* {
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
main {
    display: flex;
}




footer {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}


